.login {
  width: 500px;
  height: 500px;
  background-color: aqua;
  border-radius: 50px;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}