.login-logo {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 2px;
}

.login-sub-title {
  text-align: center;
  margin-top: 3px;
  font-size: 14px;
  color: #547673;
}

.login-title {
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 400;
  color: #547673;
}
