// .News-parallox {
//   background: linear-gradient(89.75deg, #0fa2a6 -0.41%, #ff42b5 103.12%);
// }
// .News-parallox-text {
//   font-family: "M PLUS 1p", sans-serif;
//   font-style: normal;
//   font-weight: 700;
//   font-size: 32px;
//   line-height: 48px;
//   color: #ffffff;
//   margin-right: 30px;
// }

.card-container {
  position: relative;
}
.card {
  position: relative;
  padding: 25px;
  height: 400px;
  flex: 0 0 40%;
  max-width: 40%;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  color: white;
  transition: 0.1ss;
}
.active {
  background-color: #547673;
}
.disable {
  background-color: #c9d5cf;
}

.card:nth-child(4n + 1),
.card:nth-child(4n + 4) {
  flex: 0 0 58%;
  max-width: 58%;
}

.selected-card {
  position: fixed;
  height: 80vh;
  width: 74%;
  margin-left: 2%;
  top: 100px;
  z-index: 10;
  background-color: #547673;
  border-radius: 10px;
  padding: 25px;
  color: white;
}
