.Collection {
  display: flex;
}
.Collection-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 138px 50px;
}
.Col-right-image {
  object-fit: cover;
  width: 50%;
  height: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.slider1 {
  background-image: url("./../../../public/collection1.png");
  background-position: center;
  background-size: cover;
}

.slider2 {
  background-image: url("./../../../public/collection2.png");
  background-position: center;
  background-size: cover;
}
.slider3 {
  background-image: url("./../../../public/collection4.png");
  background-position: center;
  background-size: cover;
}

.slider4 {
  background-image: url("./../../../public/collection3.png");
  background-position: center;
  background-size: cover;
}

.collection-container {
  position: relative;
}

@media screen and (max-width: 1000px) {
  .Collection-div {
    padding: 50px 50px;
  }
  .Collection {
    display: flex;
    flex-direction: column-reverse;
  }
  .Col-section-left {
    width: 100%;
  }
  .Col-section-right {
    margin: 0 auto;
    max-width: 380px;
  }
  .Col-right-image {
    width: 100%;
    margin: 0;
  }
  .Collection-arrow {
    right: 45%;
  }
}
