.recommend {
  background-image: url("./../../../public/recommendBg.png");
  background-position: center;
  background-size: cover;
}
.recommend-title {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 120px;
  text-align: center;
  background: linear-gradient(
    270.6deg,
    #000000 23.27%,
    #999999 36.51%,
    #ececec 47.21%,
    #777777 73.62%,
    #2d2d2d 82.44%,
    #b3b3b3 92.31%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.recommend-title-sub {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.recommend-button {
  padding: 8px 32px;
  gap: 10px;
  width: 301px;
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 90px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.recommend .p-carousel-indicators {
  margin-top: 5rem !important;
}
.recommend .p-carousel-indicator {
  margin: 0 !important;
  width: 150px;
  border-top: 1px solid white !important;
}

.recommend .p-highlight {
  background-color: #ececec !important ;
}

.recommend .p-carousel-indicator button {
  width: 100% !important;
  background-color: transparent !important;
  height: 0.3rem !important;
}

.recommend .p-carousel-items-container {
  gap: 1.3rem;
}

.recommend .p-carousel-item {
  flex: 1 0 31.5% !important;
}

.recommend button {
  color: #dadada;
}

.recommend button svg {
  width: 20px;
  height: 20px;
}
