.recommend {
  background-image: url("./../../../public/recommendBg.png");
}
.recommend-title {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 28px;
  text-align: center;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #d1d1ff 0%, #0c164d 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.recommend-title-sub {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #e0e0e0;
}

.recommend .p-highlight {
  background-color: #ececec !important ;
}

.recommend .p-carousel-indicator button {
  width: 100% !important;
  background-color: transparent !important;
}

.recommend .p-carousel-items-container {
  width: 100%;
}

.recommend .p-carousel-item {
  padding: 20px;
}
